@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');


:root {
    --color-primaria: #029daf;
    --color-secundaria: #e5d599;
    --color-terciaria: #ffc219;
    --color-hover: #f07c19;

    --fuente-krona: 'Krona One', sans-serif;
    --fuente-montserrat: 'Montserrat', sans-serif;
}
* {
    padding: 0;
    margin: 0;
}
r
body{
    box-sizing: border-box;
    background-color: var(--color-primaria);
    color: var(--color-secundaria);
}
.header{
    padding:2% 0% 0% 12%;
}
.header__menu{
    display: flex;
    gap: 80px;
}
.header__menu__link{
    font-family:var(--fuente-montserrat) ;
    font-size: 1.5rem;
    color: var(--color-terciaria);
    font-weight: 600;
    text-decoration: none;
}
.presentacion{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.presentacion__contenido{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap:40%;
}
.presentacion__contenido__titulo{
    font-size: 2rem;
    font-family: var(--fuente-krona);
}
.titulo-destaque{
    color: var(--color-terciaria);
}
.presentacion__contenido__texto{
    font-size: 1.5rem;
    font-family: var(--fuente-montserrat);
}
.presentacion__enlaces{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.presentacion__enlaces__subtitulo{
    font-family: var(--fuente-krona);
    font-size: 1rem;
    font-weight: bold;
}
.presentacion__enlaces__link{
    display: flex;
    justify-content: center;
    gap: 15px;
    border: 2px solid var(--color-terciaria);
    width: 50%;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    color: var(--color-secundaria);
    font-size: 1.5rem;
    font-family: var(--fuente-krona);
    padding: 20px;
}
.presentacion__enlaces__link:hover{
    background-color: var(--color-hover);
}
.presentacion__imagen{
    width: 40%;
}
.footer{
    color: var(--color-primaria);
    background-color: var(--color-terciaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: bold;
}